@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
}

:root {
    
    --naranja: #fab69d;
    --naranja2: #ff6700;
    --naranja3: #e05c04;
    --naranja4: #fd830d;
    --gris-claro: #ebebeb;
    --gris: #c0c0c0;
    --gris-oscuro: #222;
    --negro: #111;
    --blanco: #fff;
    --violeta: #62516d;  
    --amarillo: #ffc529;
    --azul: #3a6eaf;
    --azul2: #004e98;
}

h1 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.5em;
    line-height: 40px;
}

a, li {
    text-decoration: none;
    list-style: none;
    color: var(--negro);
}

a {
    padding: 20px 20px;
}

a:active {
    background-color: var(--naranja3);
    color: var(--blanco);
  }

a:hover {
    background-color: var(--naranja3);
    color: var(--blanco);
}

.blanco {
    color: var(--blanco);
}

.naranja {
    color: var(--naranja3);
}

.small {
    font-size: 0.5em;
}


.btn1 {
    background-color: var(--naranja3);
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    border: solid 2px var(--blanco);
    width: 120px;
    color: var(--blanco);
    font-size: 1em;
    cursor: pointer;
    transition: all 0.5s;
}

.btn1:hover {
    background-color: var(--naranja2);
    border: solid 1px var(--naranja2);
}

body {
    max-width: 1400px;
    margin: 0 auto;
}

/* Header */

header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 20px 40px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav {
    height: 60px;
}

.menu {
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;
    justify-content: center;
}


/* Main */

main {
    width: 100vw;
    max-width: 1400px;
    margin: 0 auto;
}




.portada {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: var(--naranja3);
    position: relative;
    padding: 0 20px;
    gap: 20px;
}

.portada svg {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}


.portada-contenedor1 {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 40px;
    padding: 40px 40px;
    color: var(--blanco);
    border-radius: 10px;  
    margin-top: 80px;      
}

.portada-contenedor1 .btn2 {
    margin-right: 10px;
}

.portada-contenedor1 .frase-portada {
    font-size: 1.5em;
}

.portada-contenedor2 {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0 40px;
    
    border-radius: 10px;  
    margin-top: 80px; 
}

.portada-contenedor2 img {
    width: 60%;
}

/*About*/

.about {
    padding: 20px 20px 20px 20px;
    display:flex ;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.about-txt {
    width: 75%;
}

.about-img{
    width: 25%;
}

.about-img img {
    width: 100%;
}
/*Service*/

.service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 20px 20px 20px;
}

.service .caja {
    border: solid 2px var(--naranja3);
    height: 300px;
    border-radius: 4px;
}

footer {
    height: 50vh;
    background-color: var(--negro);
    position: relative;
    padding: 20px 20px 20px 20px;
}

/* footer svg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
} */


















